{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Cart Detail
{% endblock %}


{% block content %}

<h3>My Cart</h3>
<img src="{% static 'clientstatic/images/buddha.jpg' %}" width="80" id="myp">
<button type="btn" id="empty-cart" href="{% url 'ecomapp:emptycart' %}">Empty cart</button>
<div id="my-content">
	<table class="table" id="my-table">
		<thead>
			<tr>
				<th>SN</th>
				<th>Product</th>
				<th>Image</th>
				<th>Rate</th>
				<th>Quantity</th>
				<th>Subtotal</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for cartproduct in mycart.cartproduct_set.all %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{cartproduct.product.title}}</td>
				<td><img src="{{cartproduct.product.image.url}}" alt="product" width="75"></td>
				<td>{{cartproduct.rate}}</td>
				<td>{{cartproduct.quantity}}</td>
				<td>{{cartproduct.subtotal}}</td>
				<td>
					<button class="cart-manage" type="btn" href="{% url 'ecomapp:managecart' cartproduct.id 'inr' %}"> +</button>
					<button type="button" href="{% url 'ecomapp:managecart' cartproduct.id 'dcr' %}" class="cart-manage">-</button>
					<button type="btn" href="{% url 'ecomapp:managecart' cartproduct.id 'rmv' %}" class="cart-manage">x</button>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="5" class="text-center">No product exists in cart <a href="{% url 'ecomapp:clienthome' %}">Shop Now</a></td>
			</tr>
			{% endfor %}
			<tr>
				<th colspan="5" class="text-right">Total: </th>
				<th>{{mycart.total}}</th>
			</tr>
		</tbody>
		
	</table>
</div>
<a href="{% url 'ecomapp:ordercreate' %}">Check Out Now</a>


{% endblock %}

{% block js %}


	<script type="text/javascript">
		$(document).ready(function(){
			$(".cart-manage").on("click", function(){
				$("#my-content").on("click", ".cart-manage", function(){
				var url_end_point = $(this).attr("href");
				$.ajax({
					method: 'get',
					url: url_end_point,
					data: {

					},
					success: function(data){
						$("#my-content").load("#my-content #my-table");
						$('#myp').html(data).css("display", 'block');
						setTimeout(fade_out, 5000);
							function fade_out() {
						$("#myp").fadeOut().empty();
						}
					}
				})
			  })
			})
		})
	</script>

	<script>
	    $(document).ready(function(){ 
	        $("#empty-cart").on("click", function(){
				var empty_url = $(this).attr("href");
				$.ajax({
					method: 'get',
					url: empty_url,
					data: {

					},
					success: function(data){
						$("#my-content").load("#my-content #my-table");

					}
				});
			});
		});
	</script>

{% endblock %}