{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Category Detail Page 
{% endblock %}


{% block content %}

<h5 class="text-info">Category: {{ categoryobject.title }}</h5>
<h3>All Products</h3>


<div class="row">
	{% for product in categoryobject.product_set.all %}
	<div class="col-md-3">
		<h5 class="">{{product.title}}</h5>
		<img src="{{product.image.url}}" alt='product' class="img-fluid">
		<p>Price: <strike>Rs. {{product.mrp}}</strike> Rs. {{product.sp}}</p>
		<button class="add-to-cart" type="btn" data-href="{% url 'ecomapp:addtocart' product.id %}">Add to Cart</button>
	</div>
	{% endfor %}
</div>


{% for subcat in categoryobject.productcategory_set.all %}
<h4 class="text-info">{{subcat.title}}</h4>
<div class="row">
	{% for product in subcat.product_set.all %}
	<div class="col-md-3">
		<h5>{{product.title}}</h5>
		<img src="{{product.image.url}}" alt='product' class="img-fluid">
		<p>Price: <strike>Rs. {{product.mrp}}</strike> Rs. {{product.sp}}</p>
		<button class="add-to-cart" type="btn" data-href="{% url 'ecomapp:addtocart' product.id %}">Add to Cart</button>
	</div>
	{% endfor %}
</div>


{% endfor %}



{% endblock %}