{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'clientstatic/css/bootstrap.min.css' %}">
	<script src="{% static 'clientstatic/js/jquery-3.4.1.min.js' %}"></script>
	
<!-- Jquery Begins-->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <!-- Jquery script ends -->
</head>
<body class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<a href="{% url 'ecomapp:clienthome' %}">Home</a>
			<a href="{% url 'ecomapp:cart' %}">Mycart</a>
			{% if request.user.is_authenticated %}
			<a href=" {% url 'ecomapp:adminhome' %} ">{{request.user.username}}</a>
			<a href="/ecom-admin/signout/">Logout</a>
			{% else %}
			<a href="{% url 'ecomapp:customersignup' %}">Signup</a>
			<a href="{% url 'ecomapp:customerlogin' %}">LogIn</a>
			{% endif %}
		</div>
		<div class="col-md-4">
			<form method="GET" action="/customer-search/">
				<input type="text" name="query" placeholder="Search Products..." value="{{request.GET.query}}"
				 id="txtSearch">
				<button>Submit</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<h3>Categories</h3><hr>
			{% for cat in root_categories %}
			<li><a href="{% url 'ecomapp:categorydetail' cat.slug %}">{{cat.title}}</a></li>
				{% for subcat in cat.productcategory_set.all %}
				<li class="ml-5"><a href="{% url 'ecomapp:categorydetail' subcat.slug %}">{{subcat.title}}</a></li>
				{% endfor %}
			{% endfor %}
			
		</div>
		<div class="col-md-9">
			{% block content %}
			{% endblock %}
			<script>
			    $(document).ready(function(){ 
			        $("#txtSearch").on("keyup", function(){
			            var keyword = $(this).val();
			            $.ajax({
			              method: "get",
			              url:"{% url 'ecomapp:ajaxsearch' %}",
			              data:{
			                "query": keyword,
			              },
			              success: function(data) {
			                  $("#txtSearch").autocomplete({
			                    source: data.results
			                  });
			                } 
			        	});
			    	});
				});
			</script>

		</div>
	</div>
{% block js %}
{% endblock %}

	<script type="text/javascript">
		$(document).ready(function(){
			$(".add-to-cart").on("click", function(){
				var url_end_point = $(this).attr("data-href");
				$.ajax({
					method: 'get',
					url: url_end_point,
					data: {

					},
					success: function(){
						alert("item added to cart")
					}
				})
			})
		})
	</script>

</body>
</html>