{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Home Page
{% endblock %}



{% block content %}
<h3>All Products</h3><hr>
<div class="row">
	{% for product in allproducts %}
	<div class="col-md-3">
		<h5>{{product.title}}</h5>
		<!-- {% if product.image %} -->
		<img src="{{product.image.url}}" alt='product' class="img-fluid">
		<!-- {% endif %} -->
		<p>Price: <strike>Rs. {{product.mrp}}</strike> Rs. {{product.sp}}</p>
		<button class="add-to-cart" type="btn" data-href="{% url 'ecomapp:addtocart' product.id %}">Add to Cart</button>
	</div>
	{% endfor %}
</div>

{% endblock %}