{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Customer Signup Form
{% endblock %}


{% block content %}

<div class="row">
	<div class="col-md-6 mx-auto">
		<h4>Customer Signup Form</h4><hr>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{cform.as_p}}
			<input type="submit" name="Signup" class="btn btn-info">		
		</form>	
	</div>
</div>


{% endblock %}