{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Order Create Page
{% endblock %}


{% block content %}

	<h4><span>Your Order Form</span></h4><hr>
	<div class="row">

		<div class="col-md-6">
			<h4><span>Your Cart Order List</span></h4>
			<table class="table">
				<thead>
					<tr>
						<th>SN</th>
						<th>Product</th>
						<th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					{% for cartproduct in cart_obj.cartproduct_set.all %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{cartproduct.product.title}}</td>
						<td>{{cartproduct.rate}}*{{cartproduct.quantity}} = {{cartproduct.subtotal}}</td>
					</tr>
					{% endfor %}
					<tr>
						<th colspan="2" class="text-right">Total: </th>
						<th>{{cart_obj.total}}</th>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-6">
			<form method="post">
				{% csrf_token %}
				{{form.as_p}}
				<input type="submit" name="Send Order">		
			</form>	
		</div>

	</div>

{% endblock %}