{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Order List
{% endblock %}

{% block content %}
	<h3 class="text-success">All Order</h3>

	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>SN</th>
					<th>Cart ID</th>
					<th>Customer</th>
					<th>Total</th>
					<th>Order Status</th>
				</tr>
			</thead>

			<tbody>
				{% for order in allorders %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="{% url 'ecomapp:adminorderdetail' order.id %}">Order ID: {{order.id}}</a></td>
					<td>{{order.customer}}</td>
					<td>{{order.total}}</td>
					<td></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}