{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Cart Detail Page
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<h3 class="text-success">Detail of Cart ID: {{cartobject.id}}</h3>
	</div>
	<div class="col-md-6">
		<h3 class="text-primary">Order Status: </h3>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>SN</th>
			<th>Product</th>
			<th>Image</th>
			<th>Rate</th>
			<th>Quantity</th>
			<th>Date Created</th>
			<th>Subtotal</th>
		</tr>
	</thead>
	<tbody>
		{% for cartproduct in cartobject.cartproduct_set.all %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{% url 'ecomapp:adminproductdetail' cartproduct.product.id %}">{{cartproduct.product.title}}</a></td>
			<td><a href="{% url 'ecomapp:adminproductdetail' cartproduct.product.id %}"><img src="{{cartproduct.product.image.url}}" alt="product" width="70px"></a></td>
			<td>{{cartproduct.rate}}</td>
			<td>{{cartproduct.quantity}}</td>
			<td>{{cartproduct.created_at.date}}</td>
			<td>{{cartproduct.subtotal}}</td>
		</tr>
		{% endfor %}
		<tr>
			<th colspan="6" class="text-right">Total: </th>
			<th>{{cartobject.total}}</th>
		</tr>	
		<tr><th>Ordered Date: </th></tr>
		<tr><th>Payment Method: </th></tr>
		<tr><th>Payment Date: </th></tr>
	</tbody>
</table>


{% endblock %}