{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Product Detail Page
{% endblock %}



{% block content %}

<h4> Product detail of {{productobject.title}} </h4>

<h4>Title: <span>{{productobject.title}}</span></h4>
<img src="{{productobject.image.url}}" alt="product" width="300px">
<h3>Stock Keeping Unit(SKU): {{productobject.sku}}</h3>
<h3>MRP: Rs.{{productobject.mrp}}</h3>
<h3>SP: Rs.{{productobject.sp}}</h3>
<h3>Registered Under Category: <span>{{productobject.category.title}}</span></h3>


{% endblock %}