{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'clientstatic/css/bootstrap.min.css' %}">
	<script src="{% static 'clientstatic/js/jquery-3.4.1.min.js' %}"></script>

<!-- Jquery Begins-->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <!-- Jquery script ends -->
</head>
<body class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<a href="{% url 'ecomapp:clienthome' %}">Client-Home</a>
			<a href="{% url 'ecomapp:adminhome' %}">Admin-Home</a>
			{% if request.user.is_authenticated %}
			<a href=""><span>{{request.user.username}}</span></a>
			<a href="/ecom-admin/signout/"><span>Logout</span></a>
			{% endif %}
		</div>
		<div class="col-md-4">
			<form method="GET" action="/search/">
				<input type="text" name="query" placeholder="Search Products..." value="{{request.GET.query}}"
				 id="txtSearch">
				<button>Submit</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<h3>Admin Panel</h3><hr>

			<li><a href="{% url 'ecomapp:admincartlist' %}">Cart List</a></li>			
			<li><a href="{% url 'ecomapp:adminproductlist' %}">Products</a></li>			
			<li><a href="{% url 'ecomapp:adminorderlist' %}">Orders</a></li>			
		</div>
		
		<div class="col-md-10">
			
		{% block content %}
		{% endblock %}

			<script>
			    $(document).ready(function(){ 
			        $("#txtSearch").on("keyup", function(){
			            var keyword = $(this).val();
			            $.ajax({
			              method: "get",
			              url:"{% url 'ecomapp:ajaxsearch' %}",
			              data:{
			                "query": keyword,
			              },
			              success: function(data) {
			                  $("#txtSearch").autocomplete({
			                    source: data.results
			                  });
			                } 
			        	});
			    	});
				});
			</script>

		</div>		
</body>
</html>