{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Product List
{% endblock %}

{% block content %}
	
	<h3 class="text-center text-success">***List Of All Products***</h3><hr><br>
		{% if page_obj.has_other_pages %}
		<ul class="pagination">
		    {% if page_obj.has_previous %}
		    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
		    {% else %}
		    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
		    {% endif %}
		    {% for n in page_obj.paginator.page_range %}
		        {% if page_obj.number == n %}
		            <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
		        {% else %}
		            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
		        {% endif %}
		    {% endfor %}
		    {% if page_obj.has_next %}
		      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a></li>
		    {% else %}
		      <li class="page-item disabled"><span class="page-link">Next</span></li>
		    {% endif %}
		</ul>
	<div class="row">
		{% for product in allproducts %}
		<div class="col-3">
			<h4>{{product.title}}</h4>
			<img src="{{product.image.url}}" alt="product" width="120px">
			<h5>Price: {{product.sp}}</h5>
			<a href="{% url 'ecomapp:adminproductdetail' product.id %}" class="text-info">View Detail...</a>
		</div>
		{% endfor %}
{% endif %}
	</div>



{% endblock %}