{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Cart List page
{% endblock %}


{% block content %}
	<h3 class="text-success">All Carts</h3>

	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>SN</th>
					<th>Cart ID</th>
					<th>Customer</th>
					<th>Total</th>
					<th>Order Status</th>
				</tr>
			</thead>

			<tbody>
				{% for cart in allcarts %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="{% url 'ecomapp:admincartdetail' cart.id %}">Cart ID: {{cart.id}}</a></td>
					<td>{{cart.customer}}</td>
					<td>{{cart.total}}</td>
					<td></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}