{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Order Detail Page
{% endblock %}



{% block content %}

<h4>Order Detail of ID: {{orderobject.id}}</h4>
<div class="row">
	<div class="col">
		<table class="table">
			<thead>
				<tr>
					<th>SN</th>
					<th>Product</th>
					<th>Rate</th>
					<th>Quantity</th>
					<th>Subtotal</th>
				</tr>
			</thead>
			<tbody>
				{% for cartproduct in orderobject.cart.cartproduct_set.all %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{cartproduct.product.title}}</td>
					<td>{{cartproduct.rate}}</td>
					<td>{{cartproduct.quantity}}</td>
					<td>{{cartproduct.subtotal}}</td>
				

				</tr>
				{% endfor %}
			</tbody>			
		</table>
		
	</div>
	
</div>

{% endblock %}