{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Search Results
{% endblock %}


{% block content %}
<div class="row">
	<h3>Search Results On: "<span>{{request.GET.query}}</span>"</h3>
	<hr>
	<hr>
</div>

{% if allproducts.has_other_pages %}
<ul class="pagination">
	{% if allproducts.has_previous %}
	<li class="page-item"><a class="page-link" href="?page={{ allproducts.previous_page_number }}&query={{request.GET.query}}">Previous</a></li>
	{% else %}
	<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
	{% endif %}
	{% for n in allproducts.paginator.page_range %}
		{% if allproducts.number == n %}
			<li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
		{% else %}
			<li class="page-item"><a class="page-link" href="?page={{ n }}&query={{request.GET.query}}">{{n}}</a></li>
		{% endif %}
	{% endfor %}
	{% if allproducts.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ allproducts.next_page_number}}&query={{request.GET.query}}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
</ul>
{% endif %}
<div class="row">
	{% for search in allproducts %}
		<div class="col-md-3">
			<img class="card-img-top" src="{{ search.image.url }}" width="250" height="200">
			<div class="card-body bg-light text-center">
			<h5 class="card-title ">{{ search.title }}</h5>
			<p class="card-text mb-3 ">Price: Rs.{{ search.sp }}/-</p>
			<p>{{search.category.title}}</p>
			<a href="{% url 'ecomapp:adminproductdetail' search.id %}">view more</a>
			</div>
		</div>
		<hr>
		{% empty %}
		<div class="col-md-3">
			<p class="card-text mb-3 ">No results found</p>
		</div>
	{% endfor %}

</div>



{% endblock %}